<div class="tab-content-card">
  <div class="row">
    <div class="col-lg-12">
      <p class="card-title back-title">{{ "PRESCRIBE_TESTS" | translate }}</p>
      <div class="prescribe-medicine-wrap">
        <div class="left-wrapper doted-line">
          <label class="table-label">{{ "TEST" | translate }}</label>
          <div class="test-table-wrapper">
            <div class="thead">
              <div class="td">{{ "TEST_NAME" | translate }}</div>
              <div class="td">{{ "DOCUMENT" | translate }}</div>
            </div>
            <div class="tbody">
              <div class="tr">
                <div class="td">{{ "INPUT" | translate }}</div>
                <div class="td">{{ "UPLOAD" | translate }}</div>
              </div>
              <div class="tr">
                <div class="td">{{ "TEST" | translate }}1</div>
                <div class="td">{{ "ABC_JPG" | translate }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-wrapper">
          <div class="form-group">
            <label class="text-label">{{ "REMARKS" | translate }}</label>
            <textarea
              class="form-control"
              rows="4"
              placeholder="{{ 'ADD_REMARKS' | translate }}"
            ></textarea>
          </div>
          <div class="card-button">
            <button type="button" class="btn btn-secondary">
              {{ "COMPLETE" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
