@import "../../../../styles.scss";

// Modal css

.dialog-wrapper {
  box-shadow: 0 0 22px 0 rgba(46, 51, 138, 0.13);
  background-color: $white-color;
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;
  border: none;
  .heading-wrapper {
    @include flexbox();
    @include justify-content(space-between);
    h1 {
      margin: 0;
      font-size: $font-xl;
      color: $light-gray4;
      font-weight: $font-semi-bold;
      margin-bottom: 20px;
    }
    .close-icon {
      background: url("../../../../assets/images/modal-close.png");
      width: 24px;
      height: 24px;
      background-size: cover;
      cursor: pointer;
    }
  }
  .dialogue-content {
    font-size: medium;
  }
  .btn-wrapper {
    margin-top: 30px;
    text-align: right;
    button {
      margin-right: 16px;
      & + button {
        margin-right: 0;
      }
    }
  }
}
