@import "../../../../assets/sass/variable";
@import "../../../../assets/sass/mixins";

#nabvarlanguage {
  margin-top: -1px;
}

.navbar {
  // width: 10rem;
  background-color: transparent;
  border-color: transparent;
  border: none;
}

#navbarlanguage button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0 30px 0 0;
  width: 100%;
  background-color: transparent;
  border: 0;
  color: $light-blue1;
  cursor: pointer;
  font-size: $font-body;
  font-weight: $font-semi-bold;
}
.Translater_Dropdown {
  #navbarlanguage {
    button {
      color: $light-blue1;
      font-size: $font-body;
      font-weight: $font-semi-bold;
    }
  }
}

#navbarlanguage select:hover,
#navbarlanguage select:focus {
  outline: 0;
}

#navbarlanguage {
  margin-top: -1px;
  max-width: 100px;
  position: relative;
}
#navbarlanguage select,
#navbarlanguage::after {
  height: 40px;
}
#navbarlanguage::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 18px;
  background: url("/assets/images/arrow-caret-down.svg") center;
  cursor: pointer;
  pointer-events: none;
}

#navbarlanguage ul {
  padding: 0;
  border: 0;
  min-width: 124px;
  margin-top: 10px;
  list-style-type: none;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  right: -1px;
  z-index: 9;
  overflow: hidden;
}
#navbarlanguage li {
  padding: 0.5rem 1rem;
  display: block;
  min-width: 124px;
}

li.dropdown-language {
  font-size: 12px;
  color: #67818c;
  background-color: #f7f8f9;
  width: 124px;
  margin-inline-start: 0ch;
}

li.dropdown-content {
  padding: 0.6rem 1rem;
  &:hover {
    color: #0074a3;
    cursor: pointer;
  }
}

.language-btns {
  margin-top: 10px;
  .btn {
    font-size: 12px;
    font-weight: $font-semi-bold;
    height: 28px;
    padding: 5px 10px;
    background: $light-grey;
    box-shadow: none;
    &.active {
      background-color: $light-green1;
      border-color: $light-green1;
    }
  }
}

.menu-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #0000001a;
}
