<div class="appointment-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="">
        <h3 class="account-heading-main">{{ "PATIENTS" | translate }}</h3>
      </div>
    </div>
  </div>
</div>
<mat-tab-group
#tab
[selectedIndex]="selectedTab"
(selectedTabChange)="onTabSelection($event)"
mat-align-tabs="start"
>

<mat-tab label="{{ 'PATIENTS_LIST' | translate }}">
  <ng-template matTabContent>
    <div class="card-wrap">
      <div class="info-wrap filter-with-label">
        <label class="filter-label"></label>
        <div>
          <span class="total-revenue"></span>
        </div>
        <div class="text-right flex-display">
          <app-filter [list]="filterList"></app-filter>
        </div>
      </div>
    <div class="pharmacy-wrap">
      <!-- <div class="heading-wrap">
        <h3>{{ "INVITED_PATIENTS" | translate }}</h3>
      </div> -->
      <div class="pharmacy-table">
        <table class="table" aria-describedby="table">
          <thead>
            <tr>
              <th id="name">{{ "NAME" | translate }}</th>
              <th id="email">{{ "EMAIL" | translate }}</th>
              <th id="name">{{ "PHONE_NUMBER" | translate }}</th>
              <th id="email">{{ "HEALTH_CARD_NUMBER" | translate }}</th>
              <th id="action"></th>
            </tr>
            <tr>
              <td style="height: 10px"></td>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let patient of patientListByDoctor
                  | paginate
                    : {
                        itemsPerPage: itemsPerPage,
                        currentPage: currentPage,
                        totalItems: patientListCount
                      }
              "
            >
              <td>{{ patient.patientinfo.patientName }}</td>
              <td >{{ patient.patientinfo.patientEmail }}</td>
              <td>{{ patient.patientinfo.patientPhoneNumber }}</td>
              <td >{{ patient.patientinfo.healthCareNumber }}</td>
              <td><button class="view-button"  (click)="patientGetDetails(patient.patientinfo)">
                {{ "VIEW_MORE" | translate }}
              </button></td>
            </tr>
          </tbody>
        </table>
        <div
          *ngIf="!(patientListByDoctor && patientListByDoctor.length)"
          class="center-text-div"
        >
          {{ "NO_DATA_FOUND" | translate }}
        </div>
      </div>
      <div class="row" *ngIf="patientListByDoctor && patientListByDoctor.length">
        <div class="col-lg-12">
          <div class="pagination-wrapper">
            <pagination-controls
              class="pl-0"
              (pageChange)="patientPageChangedEvent($event)"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  </ng-template>
</mat-tab>
<mat-tab label="{{ 'INVITE_PATIENT' | translate }}">
  <ng-template matTabContent>
    <div class="card-wrap">
      <div class="row">
        <div class="col-4">
          <div [formGroup]="inviteForm" class="upload-csv-wrap">
            <label>{{ "UPLOAD_CSV" | translate }}</label>
            <div class="file-upload-row">
              <div class="file-upload-box">
                <input
                  type="file"
                  formControlName="csvFile"
                  accept=".csv"
                  (change)="fileChangeEvent($event)"
                />
                <img
                  *ngIf="showUploadIcon"
                  class=""
                  src="/assets/images/upload-icon.svg"
                  alt="icon"
                />
                <span *ngIf="showUploadIcon" class="upload-btn-text">{{
                  "UPLOAD_CSV" | translate
                }}</span>
                <span *ngIf="!showUploadIcon">{{ fileName }}</span>
              </div>
              <!-- <button
                type="button"
                [disabled]="!file || isSend"
                (click)="sendInvitation()"
                class="btn btn-secondary"
              >
                {{ "SEND_INVITATION" | translate }}
              </button> -->
              <button
                type="button"
                (click)="viewInvitation()"
                class="btn btn-secondary"
              >
                {{ "VIEW_INVITATION" | translate }}
              </button>
            </div>
            <a href=".../../../assets/sampleFiles/Invite_Patient.csv" download>
              <img src="../../../../../assets/images/download.svg" alt="" />
              {{ "DOWNLOAD_SAMPLE_FILE" | translate }}
            </a>
            <div *ngIf="uploadfileError" class="validation" >
              {{ "REQUIRED" | translate }}
            </div>
          </div>
        </div>
        <div class="col-6">
          <h5>{{ "CSV_INSTRUCTIONS_HEADING" | translate }}</h5>
          <ol>
            <li>{{ "CSV_INSTRUCTIONS1" | translate }}</li>
            <li>{{ "CSV_INSTRUCTIONS2" | translate }}</li>
            <li>{{ "CSV_INSTRUCTIONS3" | translate }}</li>
            <li>{{ "CSV_INSTRUCTIONS4" | translate }}</li>
          </ol>
        </div>
      </div>
      
      
      <div class="pharmacy-wrap">
        <div class="row">
          <div class="heading-wrap col-6">
            <h3>{{ "INVITED_PATIENTS" | translate }}</h3>
          </div>
          <div class="col-6">
            <div class="info-wrap filter-with-label">
              <label class="filter-label"></label>
              <div>
                <span class="total-revenue"></span>
              </div>
              <div class="text-right flex-display">
                <app-filter [list]="invitePatientFilterList"></app-filter>
              </div>
            </div>
          </div>
        </div>
        
        <div class="pharmacy-table">
          <table class="table" aria-describedby="table">
            <thead>
              <tr>
                <th id="name">{{ "NAME" | translate }}</th>
                <th id="email">{{ "EMAIL" | translate }}</th>
                <th id="language">{{ "LANGUAGE" | translate }}</th>
                <th id="updated">{{ "SEND_DATE" | translate }}</th>
                <th id="inviteaction"></th>
              </tr>
              <tr>
                <td style="height: 10px"></td>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let patient of invitedPatientList
                    | paginate
                      : {
                          itemsPerPage: itemsPerPage,
                          currentPage: currentPage,
                          totalItems: count
                        }
                "
              >
                <td>{{ patient.name }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.language }}</td>
                <td>{{ patient.updated_at | date: "dd:MM:yyyy HH:mm" }}</td>
                <td><button class="view-button"  (click)="reSendInvitation(patient)">
                  {{ "RESEND" | translate }}
                </button></td>
              </tr>
            </tbody>
          </table>
          <div
            *ngIf="!(invitedPatientList && invitedPatientList.length)"
            class="center-text-div"
          >
            {{ "NO_DATA_FOUND" | translate }}
          </div>
        </div>
        <div class="row" *ngIf="invitedPatientList && invitedPatientList.length">
          <div class="col-lg-12">
            <div class="pagination-wrapper">
              <pagination-controls
                class="pl-0"
                (pageChange)="pageChangedEvent($event)"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</mat-tab>

</mat-tab-group>
