<div
  [autoClose]="false"
  triggers="manual"
  #p="ngbPopover"
  (click)="openEventsPopOver(p, day.events)"
  [ngbPopover]="popContent"
  popoverClass="calendar-popover"
>
  <div class="d-flex">
    <div class="cal-cell-top">
      <span class="cal-day-number">{{
        day.date | calendarDate: "monthViewDayNumber":locale
      }}</span>
      <div *ngIf="day.badgeTotal > 2">
        <small class="more-events">+ {{ day.badgeTotal - 2 }} More</small>
      </div>
    </div>
  </div>
  <ul *ngIf="day.events.length" class="event-cal">
    <li
      [ngClass]="{ 'block-out-event': checkIfAllSlotsBlockOut(day.events[0]) }"
    >
      {{
        day.events[0].meta.slots[0].fromTimeStamp | amDateFormat: "hh:mmA"
      }}
      to
      {{ day.events[0].meta.slots[0].toTimeStamp | amDateFormat: "hh:mmA" }} |
      {{ day.events[0].meta.firstName }} {{ day.events[0].meta.lastName }}
    </li>

    <li
      [ngClass]="{ 'block-out-event': checkIfAllSlotsBlockOut(day.events[1]) }"
      *ngIf="day.events.length > 1"
    >
      {{
        day.events[1].meta.slots[0].fromTimeStamp | amDateFormat: "hh:mmA"
      }}
      to
      {{ day.events[1].meta.slots[0].toTimeStamp | amDateFormat: "hh:mmA" }} |
      {{ day.events[1].meta.firstName }} {{ day.events[1].meta.lastName }}
    </li>
  </ul>
</div>
<!-- calendar popover content -->
<ng-template #popContent>
  <div class="availabilty-modal">
    <div>
      <div class="modal-head">
        <strong>{{ "ALL_DOCTORS" | translate }}</strong>
        <div class="modal-action">
          <!-- Add Availability -->
          <span
            *ngIf="!dateIsPast(day.events[0].start)"
            (click)="addAvailability(day.events)"
          >
            <img src="../../assets/images/add-icon-grey.svg" alt="" />
          </span>
          <!-- Edit Availability -->
          <span
            *ngIf="!dateIsPast(day.events[0].start)"
            [ngClass]="{ disabled: !minCheckLength('EDIT', day.events) }"
            (click)="editAvailability(day.events)"
          >
            <img src="../../assets/images/edit-grey.svg" alt="" />
          </span>

          <!-- Copy Availability -->
          <span
            *ngIf="!dateIsPast(day.events[0].start)"
            [ngClass]="{ disabled: !minCheckLength('COPY', day.events) }"
            (click)="copyAvailability(day.events, p)"
          >
            <img src="../../assets/images/copy.svg" alt="" />
          </span>

          <!-- Delete Availability -->
          <span
            *ngIf="!dateIsPast(day.events[0].start)"
            [ngClass]="{ disabled: !minCheckLength('DELETE', day.events) }"
            (click)="confirmDeleteRequest(day.events, p)"
          >
            <img src="../../assets/images/delete-icon.svg" alt="" />
          </span>

          <!-- Close Popover -->
          <span (click)="p.close()">
            <img src="../../assets/images/popup-close.svg" alt="" />
          </span>
        </div>
      </div>
      <div class="modal-list">
        <ul>
          <li *ngFor="let item of day.events; let i = index">
            <div class="list-checkbox">
              <input
                (change)="onCheckboxChange($event)"
                class="form-check-input custom-checkbox"
                id="check_Dr_{{ item.meta.id }}"
                name="availCheck"
                [value]="item.meta.id"
                type="checkbox"
              />
              <label
                class="form-check-label"
                for="check_Dr_{{ item.meta.id }}"
              ></label>
            </div>
            <div class="d-flex">
              <!-- "../../assets/images/doctor-1.png" -->
              <div>
                <img
                  [src]="
                    item.meta.providerDetails.profilePicture
                      ? item.meta.providerDetails.profilePicture
                      : defaultImgSrc
                  "
                  alt=""
                  class="dr-image"
                />
              </div>
              <div>
                <p class="dr-name">
                  {{ item.meta.providerDetails.salutation }}
                  {{ item.meta.providerDetails.firstName }}
                  {{ item.meta.providerDetails.lastName }}
                </p>
                <div class="time-slots">
                  <div
                    *ngFor="let slot of item.meta.slots; let i = index"
                    class="appt-info"
                  >
                    <span
                      (click)="selectSlotHandler(item, slot)"
                      class="appt-time-label"
                      [ngClass]="{
                        active: selectedSlotExists(slot),
                        'block-out-event': slot.details.isBlocked
                      }"
                      >{{ slot.fromTimeStamp | amDateFormat: "hh:mmA" }} to
                      {{ slot.toTimeStamp | amDateFormat: "hh:mmA" }}</span
                    >
                    <span class="clinic-name">{{ item.meta.officeName }}</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>
<!-- calendar popover content -->
