.file-viwer-modal {
  width: 600px;
  max-width: 600px;
}
.dialog-header {
  padding: 10px 15px;
  text-align: right;
  img {
    cursor: pointer;
  }
}
.dialog-content {
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
}
