@import "../../styles.scss";

.cursor-hand {
  cursor: pointer;
}
.account-heading-main {
  font-size: 24px;
  font-weight: 700;
  color: #012e40;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-left: 15px;
}
.appointment-wrapper {
  padding: 10px 30px;
  .heading-main {
    font-size: $font-24;
    font-weight: $font-bold;
    color: $deep-blue;
    margin-bottom: 0;
    margin-top: 20px;
  }
  .navbar {
    margin-top: 0;
    justify-content: flex-start;
    padding: 15px 0 0;
    margin-bottom: 24px;
  }
}

.navbar {
  display: flex;
  margin-top: 25px;
  padding: 15px 0;
  background-color: $light-gray2;
  .navbar-items {
    padding: 15px 20px;
    a {
      color: $deep-blue;
      font-size: 18px;
      line-height: 24px;
      text-decoration: none;
    }
    &.nav-active {
      a {
        color: $light-blue2;
        font-weight: $font-bold;
        border-bottom: 2px solid $light-blue2;
      }
    }
  }
  &.no-bg-nav {
    border-bottom: 1px solid #ccd5d9;
  }
}

@media (max-width: 767px) {
  .appointment-wrapper {
    padding: 10px 15px;
  }
  .navbar {
    .navbar-items {
      padding: 15px;
      a {
        font-size: 14px;
      }
    }
  }
}
