<div class="add-notes-modal">
	<div class="info-wrap">
		<div class="form-wrap">
			<div>
				<p style="font-weight: bold;">{{ "AVAILABLE_SECRETARIES_TEXT" | translate }}</p>
			</div>
			<table class="table" aria-describedby="table">
				<thead>
					<tr>
						<th id="header" *ngFor="let header of headers">
							{{ header | translate }}
						</th>
						<th id="header"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let row of secretaryList">
						<!-- <td *ngFor="let header of headersBind" [innerHTML]="row[header]"></td> -->
						<td>{{row.first_name}} {{row.last_name}}</td>
						<td>{{row.email}}</td>
						<td>{{row.phone_number}}</td>
						<td>{{row.gender}}</td>
						<td>{{row.clinic_name}}</td>
						<td>{{row.roleName  | translate}}</td>
						<td *ngIf="row.doctorNames == 'NON_WORKING_PROFILE_MANAGER'">{{row.doctorNames | translate}}</td>
						<td *ngIf="row.doctorNames != 'NON_WORKING_PROFILE_MANAGER'">{{row.doctorNames}}</td>
						<td >
							<!-- <span (click)="autoFillManager(row.id)">{{ "ADD" | translate }}</span> -->
							<button  type="button" class="btn btn-primary" (click)="autoFillManager(row.id)" style="height: auto;font-size: 14px;">{{ "ADD" | translate }}</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				<p>{{ "ADD_NEW_TEXT" | translate }}<a (click)="addNewManager()" style="color: #007bff;text-decoration: underline;">{{"CLICK_HERE" | translate}}</a></p>
			</div>
		</div>
	</div>
</div>
