@import "../../../../styles.scss";

.dcp-right-wrapper {
  .change-password-container {
    .change-password-wrapper {
      margin: 0 auto;
      background: $white-color;
      @include border-radius(4px);
      h3 {
        font-size: 14px;
        font-weight: 600;
        color: #012e40;
        margin-bottom: 24px;
        margin-top: 0;
      }

      .form-group {
        .btn {
          margin-top: 60px;
          &:visited {
            background-color: $theme-blue;
          }
          &:hover {
            background-color: $theme-blue;
          }
        }
      }
      .text-right-element {
        .action-btn-wrap {
          margin-top: 16px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
}

.completed {
  color: green;
}
