@import "../../../../../styles.scss";

.dialog-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid $summer-sky;
  .heading-wrapper {
    color: #fff;
    text-align: center;
    display: flex;
    height: 70px;
    background-color: $summer-sky;
    .dialog-title {
      margin: auto;
    }
  }
  .button-full-div {
    display: flex;
    margin: 20px;
    .btn-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .btn-primary {
        @include border-radius(2px);
        color: $white-color;
      }
    }
  }
  .dialogue-content {
    font-family: $font-family;
    font-size: $font-ml;
    font-weight: $font-regular;
    margin: auto;
    padding: 25px;
    max-height: 400px;
    overflow: auto;
    .cancel-reason {
      .wrapper {
        width: auto;
      }
    }
  }
}
