.notification-wrapper {
  h3 {
    font-size: 14px;
    font-weight: 600;
    color: #012e40;
    margin-bottom: 24px;
    margin-top: 0;
  }
  .switcher-wrap {
    margin-bottom: 15px;
  }
}
