<div class="content-area">
  <app-calendar-header [fullDivRef]="printRef"></app-calendar-header>

  <div id="print-section" class="calendar-container form-card" #fullscreen>
    <!--- Calendar Header section --------->
    <div class="row justify-content-between cal-controls">
      <div class="col-md-auto d-flex align-items-center mr-auto">
        <div class="btn-group">
          <div
            class="btn calendar-btn prev"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          ></div>
          <div
            class="btn calendar-btn next"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          ></div>
        </div>
        <div class="col-md-auto">
          <h5>
            {{
              viewDate
                | calendarDate
                  : view + "ViewTitle"
                  : this.localStorageService.getItem("language")
            }}
          </h5>
        </div>
      </div>
      <div class="col-md-auto">
        <ul class="cal-legends">
          <li>
            <span class="legend-box available"></span>
            <span>{{ "AVAILABILITY" | translate }}</span>
          </li>
          <li>
            <span class="legend-box virtual"></span>
            <span>{{ "VIRTUAL" | translate }}</span>
          </li>
          <li>
            <span class="legend-box inoffice"></span>
            <span>{{ "INOFFICE" | translate }}</span>
          </li>
        </ul>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-md-auto">
        <button type="button" (click)="confirmDeleteAllSlot()" class="btn btn-ghost" >{{ "DELETE_ALL" | translate }}</button>
      </div>
      <div class="col-md-auto">
        <select (change)="setView($event)" class="form-control">
          <option value="MONTH">{{ "MONTHLY" | translate }}</option>
          <option value="WEEK">{{ "WEEKLY" | translate }}</option>
          <option value="DAY">{{ "DAILY" | translate }}</option>
        </select>
      </div>
    </div>

    <ng-template #customCellTemplate let-day="day" let-locale="locale">
      <!--------- Popover for Provider ---------->
      <app-availability-provider-date-template
        *ngIf="true"
        [day]="day"
        [locale]="locale"
        (fetchEvents)="fetchEvents()"
      ></app-availability-provider-date-template>

      <!--------- Popover for Practice Admin --------->
      <app-availability-practice-date-template
        *ngIf="isPracticeAdmin"
        [day]="day"
        [locale]="locale"
        (fetchEvents)="fetchEvents()"
      ></app-availability-practice-date-template>
    </ng-template>

    <!---------- Calendar components Monthly, Weekly and day view --------->
    <div [ngSwitch]="view" id="available_step1">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [locale]="this.localStorageService.getItem('language')"
        [refresh]="refresh"
        (dayClicked)="dayClicked($event.day)"
        [cellTemplate]="customCellTemplate"
        (beforeViewRender)="beforeMonthViewRender($event)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [locale]="this.localStorageService.getItem('language')"
        [refresh]="refresh"
        (hourSegmentClicked)="hourSegmentClicked('week', $event)"
        [cellTemplate]="customCellTemplate"
        (beforeViewRender)="beforeWeekViewRender($event)"
        (eventClicked)="eventClicked('week', $event.event)"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [cellTemplate]="customCellTemplate"
        (hourSegmentClicked)="hourSegmentClicked('day', $event)"
        (beforeViewRender)="beforeDayViewRender($event)"
        (eventClicked)="eventClicked('day', $event.event)"
      >
      </mwl-calendar-day-view>
    </div>
    <!------------ Calendar components ends here ------------>
    <br />
  </div>
</div>
