@import "../../../../assets/sass/variable";

/* table css */
table {
  width: 100%;
  thead {
    color: $white-color;
    height: 40px;
    tr {
      background: $light-blue2;
      th {
        border-bottom: none;
        font-weight: $font-bold;
        padding: 8px 6px;
        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          padding-left: 26px;
        }
      }
      th {
        &:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
      & + tr {
        background: transparent;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background: rgba(247, 247, 247, 0.6);
      }
      &:nth-child(even) {
        background: $white-bg;
      }
      td {
        border-top: none !important;
        color: $light-gray4;
        font-size: $font-body;
        word-break: break-word;
        padding: 8px 6px;
        max-width: 475px;
        &:first-child {
          padding-left: 26px;
          max-width: 172px;
        }
        .edit {
          background: url("../../../../assets/images/edit-edit.png");
          // width: 20px;
          // height: 20px;
          width: 15px;
          height: 14px;
          display: inline-block;
          margin-right: 6px;
          cursor: pointer;
        }
        .delete {
          background: url("../../../../assets/images/basic-trash-empty.svg");
          // width: 20px;
          // height: 20px;
          width: 16px;
          height: 18px;
          display: inline-block;
          cursor: pointer;
        }
        .view-btn {
          font-size: 12px;
          font-weight: 600;
          color: $light-blue2;
          padding: 4px 12px;
          background-color: $white-bg;
          border: 1px solid $light-blue2;
          border-radius: 2px;
        }
        .save {
          background: url("../../../../assets/images/check2.svg") no-repeat
            center;
          width: 15px;
          height: 14px;
          display: inline-block;
          margin-right: 6px;
          cursor: pointer;
        }
        .print {
          background: url("../../../../assets/images/print_preview.png") no-repeat
            center;
          width: 30px;
          height: 30px;
          display: inline-block;
          background-size: cover;
          margin-right: 6px;
          cursor: pointer;
        }
        &.edit-col {
          width: 80px;
          min-width: 80px;
        }
      }
    }
  }
}
.add-pharmacy {
  color: $light-blue2;
  font-size: $font-sms;
  font-weight: $font-semi-bold;
  position: relative;
  cursor: pointer;
  &:before {
    content: "";
    width: 16px;
    height: 16px;
    // background: url("../../../../assets/images/edit-plus-circle-outline@2x.png");
    position: absolute;
    left: -18px;
    top: 0px;
    background-size: cover;
  }
}

.notes-actions {
  width: 100px;
}
.notes-table {
  thead {
    th {
      &:first-child {
        width: 30%;
        max-width: 250px;
      }
    }
  }
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.no-data {
  text-align: center;
}