<div class="auth-section">
  <div class="translater-dropdown">
    <app-translater></app-translater>
  </div>
  <div class="container-fluid">
    <div class="row flex-row-center">
      <div class="col-lg-6">
        <div>
          <a href="#" class="logo"
            ><img src="assets/images/logo.svg" alt="CactusMD"
          /></a>
        </div>
        <img
          src="assets/images/signin-icons/signin-image.svg"
          class="signup-img"
          alt="signup image"
        />
      </div>
      <div class="col-lg-6">
        <section class="auth-container default-error">
          <div class="auth-card">
            <div (click)="backNavigate()" class="col-lg-12 start_text">
              <img
                src="assets/images/signin-icons/arrow-chevron-left.svg"
                height="20px"
                width="20px"
                alt="back-arrow"
              />
              <span>{{ "BACK" | translate }}</span>
            </div>
            <div class="col-lg-12 page_title">
              <h2>{{ "ENTER_NEW_PASSWORD" | translate }}</h2>
            </div>

            <div class="auth-wrapper">
              <form
                [formGroup]="resetPasswordForm"
                (ngSubmit)="resetPassword()"
                (keyup.enter)="resetPassword()"
              >
                <div class="form-group">
                  <div class="form-control">
                    <input
                      [type]="passwordType"
                      formControlName="newPwd"
                      id="txtf_email_patient"
                      placeholder="New Password"
                    />
                    <span
                      *ngIf="!resetPasswordForm.controls.newPwd.value"
                      class="icon password"
                    ></span>
                    <span
                      *ngIf="
                        resetPasswordForm.controls.newPwd.value &&
                        passwordType == 'text'
                      "
                      class="icon password-hide"
                      (click)="showHidePass('password')"
                    ></span>
                    <span
                      *ngIf="
                        resetPasswordForm.controls.newPwd.value &&
                        passwordType == 'password'
                      "
                      class="icon password-selected"
                      (click)="showHidePass('text')"
                    ></span>
                  </div>
                  <div
                    *ngIf="hasError('required', 'newPwd')"
                    class="validation"
                  >
                    {{ "REQUIRED" | translate }}
                  </div>
                  <div
                    *ngIf="
                      !hasError('required', 'newPwd') &&
                      (hasError('pattern', 'newPwd') ||
                        hasError('minlength', 'newPwd'))
                    "
                    class="validation"
                  >
                    {{ "INVALID_PASSWORD" | translate }}
                  </div>
                </div>

                <div
                  *ngIf="
                    resetPasswordForm.hasError('required', 'newPwd') ||
                    resetPasswordForm.hasError('pattern', 'newPwd') ||
                    resetPasswordForm.hasError('minlength', 'newPwd')
                  "
                  class="password-rules"
                >
                  <div>
                    <small>
                      {{ "PASSWORD_SHOULD_CONSIST_OF" | translate }}:-
                    </small>
                  </div>
                  <ol>
                    <small [ngClass]="{ completed: checkLength }">
                      <li>{{ "MINIMUM_OF_8_CHARACTERS" | translate }}.</li>
                    </small>
                    <small [ngClass]="{ completed: check1SpecialChar }">
                      <li>{{ "ATLEAST_1_SPECIAL_LETTER" | translate }}</li>
                    </small>
                    <small [ngClass]="{ completed: check1Upper }">
                      <li>{{ "ATLEAST_1_CAPITAL_LETTER" | translate }}</li>
                    </small>
                    <small [ngClass]="{ completed: check1Num }">
                      <li>{{ "ATLEAST_1_NUMBER" | translate }}</li>
                    </small>
                  </ol>
                </div>

                <div class="form-group">
                  <div class="form-control">
                    <input
                      [type]="passwordTypeConfirm"
                      formControlName="confirmPwd"
                      id="txtf_password_patient"
                      placeholder="Password"
                    />
                    <span
                      *ngIf="!resetPasswordForm.controls.confirmPwd.value"
                      class="icon password"
                    ></span>
                    <span
                      *ngIf="
                        resetPasswordForm.controls.confirmPwd.value &&
                        passwordTypeConfirm == 'text'
                      "
                      class="icon password-hide"
                      (click)="showHidePassConfirm('password')"
                    ></span>
                    <span
                      *ngIf="
                        resetPasswordForm.controls.confirmPwd.value &&
                        passwordTypeConfirm == 'password'
                      "
                      class="icon password-selected"
                      (click)="showHidePassConfirm('text')"
                    ></span>
                  </div>
                  <div
                    *ngIf="hasError('required', 'confirmPwd')"
                    class="validation"
                  >
                    {{ "REQUIRED" | translate }}
                  </div>
                  <div
                    class="validation"
                    *ngIf="
                      formSubmitted &&
                      !hasError('required', 'confirmPwd') &&
                        resetPasswordForm.errors?.match
                    "
                  >
                    {{ "PASSWORDS_DO_NOT_MATCH" | translate }}
                  </div>
                </div>

                <div class="btn-m-top">
                  <button
                    type="button"
                    id="btn_login_patient"
                    (click)="resetPassword()"
                    class="btn btn-primary btn-block"
                  >
                    {{ "SAVE" | translate }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
