<div class="page-container main-page-wrap">
  <form [formGroup]="availForm" (ngSubmit)="onSubmit()">
    <div class="">
      <div class="">
        <h4>{{ formLabel }} {{ "AVAILABILITY" | translate }}</h4>
      </div>
    </div>
    <div class="">
      <div class="form-card info-wrap">
        <div class="">
          <div class="">
            <h5>{{ "AVAILABILITY_DETAILS" | translate }}</h5>
          </div>
        </div>
        <div style="font-weight: bold; color: red;margin-top: -25px;margin-bottom: 10px;" *ngIf="offsetDiff">
          {{ "WARNING" | translate }} : {{ "TIMEZONE_WARNING" | translate }}
        </div>

        <!-- Duration of availability starts here -->
        <div class="">
          <div class="form-group">
            <h6 class="inner-heading">
              {{ "DURATION_OF_AVAILABILITY" | translate }}
            </h6>
            <div class="group-radio-wrap" [class.chk-box-disabled]="editMode">
              <div
                class="custom-radio-btn"
                *ngFor="let duration of durationArr"
              >
                <label class="radio-btn-container">
                  <input
                    type="radio"
                    formControlName="duration"
                    [value]="duration.value"
                  />
                  <span class="checkmark"></span>
                  <span>{{ duration.name | translate }}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- Duration of availability ends here -->
        <div class="row mng-responsive-form">
          <!-- start date starts here -->
          <div class="col-lg-4 pr-8">
            <app-date-picker
              [label]="'START_DATE'"
              [formControlName]="'startDate'"
              [disabled]="availForm.get('startDate').disabled"
              [fieldsRequired]="true"
              [formSubmitted]="formSubmitted"
            ></app-date-picker>
          </div>
          <!-- start date ends here -->

          <!-- end date starts here -->
          <div class="col-lg-4 pl-8 pr-8">
            <app-date-picker
              [label]="'END_DATE'"
              [formControlName]="'endDate'"
              [disabled]="availForm.get('endDate').disabled"
              [fieldsRequired]="true"
              [formSubmitted]="formSubmitted"
            ></app-date-picker>
          </div>
          <!-- end date ends here -->

          <!-- time slot duration starts here -->
          <div class="col-lg-4 pr-8">
            <div class="form-group">
              <label for="">{{ "CONSULTATION_TIME" | translate }}*</label>
              <select
                class="form-control time-select"
                formControlName="timeSlot"
              >
                <option value="null" disabled="true">
                  {{ "SELECT_HERE" | translate }}
                </option>
                <option *ngFor="let item of timeSlots" [value]="item.id">
                  {{ item.name }}
                </option>
              </select>
              <div *ngIf="hasError('required', 'timeSlot')" class="validation">
                {{ "TIME_SLOT_IS_REQUIRED" | translate }}.
              </div>
            </div>
          </div>
          <!-- time slot duration starts here -->

          <!-- start time starts here -->
          <div class="col-lg-4 pl-8 pr-8 pl-8">
            <div class="form-group time-wrap">
              <label for="">{{ "START_TIME" | translate }}*</label>
              <select
                class="form-control time-select"
                formControlName="startTime"
              >
                <option value="null" disabled="true">
                  {{ "SELECT_HERE" | translate }}
                </option>
                <option *ngFor="let item of startTimeSlots" [value]="item.id">
                  {{ item.name }}
                </option>
              </select>
              <div *ngIf="hasError('required', 'startTime')" class="validation">
                {{ "START_TIME_IS_REQUIRED" | translate }}.
              </div>
            </div>
          </div>
          <!-- start time starts here -->

          <!-- end time starts here -->
          <div
            [class.disabled]="!enabledStatus.enableEndTime"
            class="col-lg-4 pr-8 pl-8"
          >
            <div class="form-group time-wrap">
              <label for="">{{ "END_TIME" | translate }}*</label>
              <select
                id="endTime"
                class="form-control time-select"
                formControlName="endTime"
              >
                <option selected value="null">
                  {{ "SELECT_HERE" | translate }}
                </option>
                <option *ngFor="let item of endTimeSlots" [value]="item.id">
                  {{ item.name }}
                </option>
              </select>
              <div *ngIf="hasError('required', 'endTime')" class="validation">
                {{ "END_TIME_IS_REQUIRED" | translate }}.
              </div>
            </div>
          </div>
          <!-- end time ends here -->

          <!-- weekends options here -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="Relation"></label>
            <div class="gender-wrap">
              <p class="female bg_none">
                <input
                  type="radio"
                  id="female"
                  value="true"
                  formControlName="weekendStatus"
                />
                <label for="female">{{ "INCLUDE_WEEKENDS" | translate }}</label>
              </p>
              <p class="male bg_none">
                <input
                  type="radio"
                  id="male"
                  value="false"
                  formControlName="weekendStatus"
                />
                <label for="male">{{ "EXCLUDE_WEEKENDS" | translate }}</label>
              </p>
            </div>
          </div>
        </div>
        <!-- end time ends here -->

         <!-- consultationtype options here -->
         <div class="col-md-4">
          <div class="form-group">
            <label for="Relation">{{ "CONSULTATION_TYPE" | translate }}</label>
            <div class="gender-wrap">
              <p class="female bg_none">
                <input
                  type="radio"
                  id="virtual"
                  value=1
                  formControlName="appointmentType"
                />
                <label for="virtual">{{ "VIRTUAL" | translate }}</label>
              </p>
              <p class="male bg_none">
                <input
                  type="radio"
                  id="inoffice"
                  value=2
                  formControlName="appointmentType"
                />
                <label for="inoffice">{{ "INOFFICE" | translate }}</label>
              </p>
            </div>
          </div>
        </div>
        <!-- end time ends here -->

        <div class="col-lg-4 pr-8" >
          <div class="form-group">
            <label for="">{{ "CLINICTIMEZONE" | translate }}</label>
            <input type="text" class="form-control" [value]="zoneDisplayValue"
            disabled id="statictimezone"  />
          </div>
        </div>
        <div  class="col-lg-12 pr-8" style="font-weight: bold;">
          {{ "Note" | translate }} : {{ "timezone_Note" | translate }}
        </div>
        </div>

        <div class="form-card-footer">
          <div *ngIf="editMode">
            <button
              type="button"
              (click)="confirmDeleteSlot()"
              class="btn btn-ghost"
            >
              {{ "DELETE_AVAILABILITY" | translate }}
            </button>
          </div>
          <span></span>
          <div>
            <button
              type="button"
              (click)="cancelHandler()"
              class="btn btn-ghost"
            >
              {{ "CANCEL" | translate }}
            </button>
            <button type="submit" class="btn btn-secondary" [disabled]="offsetDiff">
              {{ "SAVE" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
